
table thead tr th,
table thead tr td {
  background-color: #791a3f;
  color: white;
  padding: 8px;
  border: 1px solid #000;
  font-weight: 600;
}

/* Table first column (excluding header row) */
table tbody tr td:first-child {
  background-color: white;
}

/*
.table th, .content table:not([class*="table"]) th,
.table td,
.content table:not([class*="table"]) td {
  padding: 0.75rem;
  vertical-align: center;
  background: rgba(255, 0, 0, 0.05);
}

.table thead th, .content table:not([class*="table"]) thead th {
  font-size: 1.9375rem;
  font-weight: 500;
  vertical-align: bottom; 
  border-bottom: 1px solid #000;
}
*/